.loading-section {
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
}

.loading-section svg {
	width: 25vw;
	height: auto;
	animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
