.types-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.type-pokemon-items {
  width: 50%;
}
.type-pokemon-items img {
  width: 50%;
}
.types-menu {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
