@font-face {
	font-family: Roboto;
	src: url(../src/assets/fonts/Roboto-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.types-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 1rem;
}
.type-pokemon-items {
	width: 50%;
}
.type-pokemon-items img {
	width: 50%;
}
