<<<<<<< HEAD
.types-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.type-pokemon-items {
  width: 50%;
}
.type-pokemon-items img {
  width: 50%;
}
=======
>>>>>>> 52dfbc4f3de18c9931ff6062ae536b6b0b34d10b
